# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Models (si volumineux)
*.pkl
*.joblib
*.h5
*.pt

# Data
*.csv
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db